.menu {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.menu__link {
  color: #9cbbff;
  text-decoration: none;
  font-size: 22px;
}

.menu__link_active {
  color: #437dff;
  font-weight: bold;
  pointer-events: none;
}
